<h3>
  <%= @title = t 'forum.tags' %>
  <% if !current_user.nil? && current_user.is_admin? %>
      <%= link_to t('buttons.new'), new_tag_path %>
  <% end %>
</h3>
<hr/>
<%= render 'forum/shared/tags', tags:Forum::Tag.order(updated_at: :desc)%>