<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/meta' %>
  <%= stylesheet_link_tag    'forum/application', media: "all" %>
  <%= javascript_include_tag 'forum/application' %>
</head>
<body>

<%= yield %>

</body>
</html>
